.git export-ignore
.gitignore export-ignore
.github export-ignore
.gitattributes export-ignore
.wordpress-org export-ignore
.editorconfig export-ignore
package.json export-ignore
phpcs.xml export-ignore
.wp-env.json export-ignore
README.md export-ignore
